click==8.1.7
feedparser==6.0.11
greenlet==3.0.3
joblib==1.4.2
nltk==3.9.1
numpy==2.1.0
pandas==2.2.2
pendulum==3.0.0
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.7.24
sgmllib3k==1.0.0
six==1.16.0
SQLAlchemy==2.0.32
time-machine==2.15.0
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
